<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Книга рецептов</title>
</head>
<body>
<h1>{{title}}</h1>
<h3>{{dish_name}}</h3>
<h3>Количество порций: {{servings}}</h3>
<h3>Ингредиенты:</h3>

<ul>
{% for k, v in dish_recipe.items %}
    <li>{{k}}: {{v}}</li>
{% endfor %}
</ul>




<!--<ul>-->
<!--{% for k, v in data.items %}-->
<!--    <li>{{k}}: {{v}}</li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--{% for ingredient, amount in recipe.items %}-->
<!--{% empty %}-->
<!--    <p>Такого рецепта не знаю :(</p>-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->
